.centered {
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
}

.shadowed {
    -webkit-box-shadow: 10px 10px 50px 30px rgb(212, 212, 212);
    box-shadow: 10x 10px 50px 30px rgb(212, 212, 212);
}

hr {
    scale: 145%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 0.5;
}

a {
    color: deepskyblue;
    transition: .2s;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

body {
    line-height: 1.8;
    background-color: #f2f2f2;
    text-align: center;
    font-family: "ms gothic";
    font-size: 13px;
}

p {
    color: #000000;
}