.centered {
    margin: auto;
    width: 50%;
}

.container {
    margin-top: 10vh;
    width: 75%;
    max-width: 1000px;
    border-style:dashed;
    border-color: #dfdfdf;
    border-radius: 10px;
    padding: 10px;
}

.shadowed {
    -webkit-box-shadow: 10px 10px 50px 30px rgb(212, 212, 212);
    box-shadow: 10x 10px 50px 30px rgb(212, 212, 212);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 0.5;
}

a {
    color: deepskyblue;
    transition: .2s;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

body {
    line-height: 1.8;
    background-color: #f2f2f2;
    text-align: center;
    font-family: "ms gothic";
    font-size: 13px;
}

p {
    color: #000000;
}