.centered {
    margin: auto;
    width: 50%;
}

.container {
    margin-top: 10vh;
    width: 75%;
    max-width: 1000px;
    border-style:dashed;
    border-color: #dfdfdf;
    border-radius: 10px;
    padding: 10px;
}

video {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.shadowed {
    -webkit-box-shadow: 10px 10px 50px 30px rgb(212, 212, 212);
    box-shadow: 10x 10px 50px 30px rgb(212, 212, 212);
}

.aside {
    float: left;
    width: 20vh;
    border-style: dashed;
    border-color: #dfdfdf;
    height: 100%;
    border-radius: 10px;
    border-color: rgb(113, 129, 160);
    background-color:rgb(139, 158, 175);
}

.aside li {
    background-color: rgb(113, 129, 160);
    border-radius: 5px;
    transition: .2s;
    margin: 5px;
}

.aside h4 {
    color: #efefef;
}

.aside li:hover {
    background-color: rgb(86, 103, 134);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.border {
    border-style: dashed;
    border-color: #dfdfdf;
    border-radius: 10px;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 0.5;
}

a {
    color: deepskyblue;
    transition: .2s;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

body {
    line-height: 2;
    background-color: #f2f2f2;
    text-align: center;
    font-family: "ms gothic";
    font-size: 13px;
}

p {
    color: #000000;
}